<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huawei.ibooking.mapper.StudentMapper">
    <resultMap id="stu" type="com.huawei.ibooking.model.StudentDO"/>

<!--    <select id="getStudents" resultMap="stu">-->
<!--        select stu_num, password, stu_name-->
<!--        from student-->
<!--    </select>-->

    <select id="getStudent" resultMap="stu" parameterType="java.lang.String">
        select stu_num, password, stu_name
        from student
        where stu_num = #{stu_num}
    </select>

<!--    <update id="saveStudent" parameterType="com.huawei.ibooking.model.StudentDO">-->
<!--        insert into student (stu_num, password, stu_name, phone, email, date_joined)-->
<!--            values (#{stu_num}, #{stu.password}, #{stu.stu_name}, #{stu.phone}, #{stu.email}, #{stu.date_joined})-->
<!--    </update>-->

    <delete id="deleteStudent" parameterType="java.lang.String">
        delete
        from student
        where stu_num = #{stu_num}
    </delete>
</mapper>